<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<p><br><br></p>
<div  th:insert="menu" class="topnav">
</div>
<h1 class="container" style="align-self: center" >Eddig elküldött üzenetek: </h1>
<div th:each="contact : ${Contacts}" class="center">
    <div class="container" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${contact.getName()}" />
            <h6 class="card-subtitle mb-2 text-muted" th:text="${contact.getCreated_at()}" />
            <p class="card-text" th:text="${contact.getMessage()}" />
        </div>
    </div>
</div>
</body>
</html>