<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kapcsolatfelvétel</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="icon" type="image/x-icon" href="/images/webicon.jpg">
</head>
<body>
<p><br></p>
<div  th:insert="menu" class="topnav"></div>
<div class="container">
    <form  th:action="@{/contactResult}" th:object="${attr1}" method="post">
        <h1>Kapcsolati űrlap</h1>
        <div th:if="${successContact}">
            <p style="color: green;" th:text="${successContact}"></p>
        </div>
        <div id="error-message"></div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <span id="userEmail" th:text="${userEmail}" style="display: none;"></span>
            <div class="col-75">
                    <input type="text" id="email" name="email" placeholder="E-mail cím.." th:field="*{email}" value="" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Subject</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Írj nekünk..." style="height:200px" th:field="*{message}" required></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Elküldés">
        </div>
        <div style="vertical-align: center">
            <p class="backToHome"> <a href="/">Vissza a Főoldalra</a></p>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const emailInput = document.getElementById("email");
        const errorMessage = document.getElementById("error-message");
        const userEmail = document.getElementById("userEmail").textContent;

        // Kitöltjük az email input mezőt, ha az userEmail nem üres
        if (userEmail) {
            document.getElementById("email").value = userEmail;
            document.getElementById("email").readOnly = true;
        }
        form.addEventListener("submit", function (event) {
            let isValid = true;
            let messages = [];


            // Email formátum ellenőrzés
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(emailInput.value)) {
                //alert("Kérlek, adj meg egy érvényes email címet!");
                messages.push("Kérlek, adj meg egy érvényes email címet!")
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
                errorMessage.style.display = "block;"
                errorMessage.style.color = "red";
                errorMessage.innerHTML = messages.join("<br>");
            }
        });
    });
</script>
</body>
</html>