<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>

    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="icon" type="image/png" href="/images/webicon.jpg">
</head>

<body>
<p><br><br></p>
<div  th:insert="menu" class="topnav">
</div>
<h1 class="centered-heading">Eddig elküldött üzenetek: </h1>

    <div th:each="contact : ${Contacts}" class="center">
        <div class="container">
            <div class="card-body">
                <h5 class="card-title" th:text="${contact.getName()}" />
                <h6 class="card-subtitle mb-2 text-muted" th:text="${contact.getCreated_at()}" />
                <p class="card-text" th:text="${contact.getMessage()}" />
            </div>
        </div>
    </div>


</body>
</html>