<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kezdőlap - ReNew Kft.</title>
  <link rel="icon" type="image/x-icon" href="/images/webicon.jpg">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>


<header>
  <div  th:insert="~{menu}" class="topnav"></div>
</header>

<main>

  <!-- Főoldal elemei -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b></b></h1>
        <h1 class="large-font" style="color:midnightblue;"><b>Üdvözlünk a weboldalunkon!</b></h1>
        <p><span style="font-size:40px">Örömmel látunk webshopunkban,</span>  ahol minden megtalálható, ami a modern élet digitális eszközeihez szükséges! Legyen szó munkáról, tanulásról, játékról vagy kreatív projektek megvalósításáról,
          nálunk megtalálod azt a notebookot, amely pontosan megfelel az igényeidnek.Indulj el a digitális világban a legjobbak egyikével!
          Böngészd át notebook kínálatunkat, és találd meg azt az eszközt, amely a legjobb társad lesz a mindennapokban!</p>
        <div class="recognitions">
          <div class="recognition-item">
            <i class="fa fa-trophy" style="font-size:48px;color:darkgoldenrod;"></i>
            <p>Legjobb Vásárlói Vélemények</p>
          </div>
          <div class="recognition-item">
            <i class="fa fa-certificate" style="font-size:48px;color:darkgoldenrod;"></i>
            <p>Minőség Garancia</p>
          </div>
          <div class="recognition-item">
            <i class="fa fa-medal" style="font-size:48px;color:darkgoldenrod;"></i>
            <p>Innovációs Díj</p>
          </div>
        </div>


      </div>
      <div class="column-33">
        <img src="/images/macpic.jpg" width="335" height="471" alt="">
      </div>
    </div>
  </div>

  <!-- Clarity Section -->
  <div class="container" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img src="/images/scrollpic.jpg" alt="App" width="335" height="471">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b></b></h1>
        <h1 class="large-font" style="color:midnightblue;"><b>Szakértői segítség</b></h1>
        <p><span style="font-size:24px">Kérdéseid vannak?</span> Szakképzett csapatunk készséggel áll rendelkezésedre, hogy megtaláld a tökéletes notebookot, ami minden elvárásodnak megfelel.</p>

      </div>
    </div>
  </div>

  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b></b></h1>
        <h1 class="large-font" style="color:midnightblue;"><b>Garancia és Ügyféltámogatás</b></h1>
        <p><span style="font-size:40px">24 hónap garancia.</span> Minden nálunk vásárolt készülékhez megbízható garanciát és elérhető ügyfélszolgálatot biztosítunk.</p>

      </div>
      <div class="column-33">
        <img src="/images/lotpic.jpg" width="562" height="288" alt="">
      </div>
    </div>
    <p><br><br></p>
  </div>



</main>

<footer>
  <p>&copy; 2024 ReNew Kft. Minden jog fenntartva.</p>
</footer>

</body>
</html>
