<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-container">
    <h2>Bejelentkezés</h2>
    <!-- Action URL módosítása -->
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="username" required>

        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Bejelentkezés</button>

        <p class="register-link">Nincs fiókod? <a href="/register">Regisztrálj itt</a></p>
    </form>
</div>

</body>
</html>
