<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/}">Főoldal</a>
            <a th:href="@{/login}">Bejelentkezés</a>
            <a th:href="@{/register}">Regisztráció</a>
        </span>

        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/}">Főoldal</a>
            <a th:href="@{/logout}">Kijelentkezés</a>
            <a th:href="@{user}" sec:authentication="principal.username">Felhasználó</a>
        </span>

        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/home}">Admin</a>
        </span>
    </div>
</div>