<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="icon" type="image/x-icon" href="/images/webicon.jpg">
  <title>Regisztráció</title>
</head>
<body>
<form th:action="@{/register_process}" th:object="${reg}" method="post">
  <div class="container">
    <h1>Regisztráció</h1>
    <div th:if="${regError}">
      <p style="color: red;" th:text="${regError}"></p>
    </div>

    <div th:if="${successContact}">
      <p style="color: green;" th:text="${successContact}"></p>
    </div>
    <p>Töltsd ki az adatokat</p>
    <hr>
    <label for="name"><b>Felhasználónév</b></label>
    <input  th:field="*{name}" type="text" placeholder="Név" name="name" id="name" required/>

    <label for="email"><b>Email</b></label>
    <input th:field="*{email}" type="text" placeholder="Email megadása" name="email" id="email" required>

    <label for="password"><b>Jelszó</b></label>
    <input th:field="*{password}" type="password" placeholder="Jelszó megadása" name="password" id="password" required>

    <label for="password-repeat"><b>Jelszó ismétlése</b></label>
    <input type="password" placeholder="Jelszó ismétlése" name="password-repeat" id="password-repeat" required>


    <p></p>
    <button type="submit" class="registerbtn">Regisztráció</button>
  </div>

  <div class="container signin">
    <p>Van már fiókod? <a href="/login">Lépj be</a>!</p>
    <p class="register-link"> <a href="/">Mégsem</a></p>
  </div>
</form>

<div class="popup-overlay" id="popupOverlay">
  <div class="popup-content" id="popupContent">
    <button class="popup-close" onclick="closePopup()">&times;</button>
    <div id="popupInnerContent"></div>
  </div>
</div>

<div id="hiddenData" style="display: none;">
  <h2>Terms & Privacy</h2>
</div>

<script src="/js/register.js"></script>

</body>
</html>
