/* Top navigációs sáv */
.topnav {
    width: 100%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color 0.3s;
}



/* Linkek stílusa */
.topnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: color 0.3s;
}

/* Aláhúzás animáció hover effektusra */
.topnav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 50%;
    background-color: white;
    transition: width 0.3s, left 0.3s;
}

.topnav a:hover::after {
    width: 80%;
    left: 10%;
}


.topnav a.icon {
    display: none;
}


.topnav.responsive a {
    display: block;
    text-align: left;
    padding: 10px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}